{
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "semi": false,
  "trailingComma": "none",
  "editorconfig": true,
  "singleQuote": true,
  "jsxSingleQuote": true
}
